body {
  background-color: #e3fdfd;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: 'Open Sans', sans-serif;
 }

.navbar {
  font-family: 'Open Sans', sans-serif;
  background-color: #71c9ce;
}

.navbar-div{
  width: 70%;
}

.nav-item{
  margin: auto 1rem;
}

/* main container */
.main-container{
  width:70%;
}

/* sidebar-nav */
.side-bar-nav-div {
  position: fixed;
}

.side-bar-nav a {
  color: #71c9ce; 
  border-radius: 15px;
}

.side-bar-nav a:hover {
  background-color: #cbf1f5;
  color: #71c9ce;
}

.fas {
  margin-right: 0.4rem;
}

/* topic header */
.topic-header {
  color: #71c9ce;
}

.square-icon-bg {
  background-color: #cbf1f5;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.square-icon-bg i {
  margin-right: 0px;
  margin-top: 25px; 
}

/* card info inside a rendered post */
.card {
  margin-bottom: 10px;
}

.card-title {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.84);
}

.card-info {
  height: 60px;
  position: relative;
  font-size: smaller;
}

.card-text {
  font-size: 14px;
  color: #292929;
}

.whale-user-icon {
  border-radius: 30px;
  background-color: yellow;
}

.whale-user-info {
  display: block;
  position: absolute;
  left: 45px;
  top: 0px;
}

.whale-user-posted-date {
  display: block;
  position: absolute;
  left: 45px;
  top: 13px;
  color: rgba(0,0,0,.54);
}

/* Plan Adventure Modal*/

.form-control::-webkit-input-placeholder {
  color: #a7b6c2;
}

#planAdventureModalTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #394b59;
  border-width: 0px;
  resize: none;
}


#planAdventureModalContent {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #5c7080;
  border-width: 0px;
  resize: none;
}

#modal-cat-title {
  font-family: 'Open Sans', sans-serif;
  color: #a7b6c2;
  letter-spacing: 0.7px;
  padding: 2px 12px;
}

.modal-cat-container{
  padding-left: 12px;
  margin-bottom: 12px;
}

.modal-cat-element {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #a7b6c2;
  padding: 2px 7px;
  margin: 5px 5px 0 0;
  border: 1px solid #a7b6c2;
  border-radius: 3px;
  display: inline-block;
}

.modal-cat-element:hover{
  cursor: pointer;
  border-color: #738694;
  color: #738694;
}

#modal-post-btn {
  background-color: #4f9da1;
  border-color: #4f9da1;
}

#modal-post-btn:hover {
  background-color: #71c9ce;
}













/* text-color */
/* color: #71c9ce;  */

/* body-background-color */
/* background-color: #e3fdfd; */

/* header-background-color */
/* background-color: #71c9ce; */

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto Slab', serif; */


/* title rgba(0, 0, 0, 0.84);
date and time rgba(0,0,0,.54); */
/* paragraph #292929; */