body {
  background-image: ;
  background-color: #e3fdfd;
 }

.navbar {
  background-color: #71c9ce;
}

.navbar-div{
  width: 85%;
}

.nav-item{
  margin: auto 1rem;
}

/* sidebar-nav */
.side-bar-nav a {
  color: #71c9ce;
}

.side-bar-nav a:hover {
  background-color: #cbf1f5;
  color: #71c9ce;
}


.main-container{
  width:85%;
  margin: 0 auto;
}

